.front-content {
	padding: 50px;
}
.front {
	background: #F06292;
}
.tagline {
	color: #37474F;
	font-size: xx-large;
	padding-top: 20px;
}
.tagline-sm {
	color: #37474F;
	font-size: x-large;
	padding-top: 20px;
}
.applist {
	padding-top: 20px;
	padding-bottom: 20px
}
.appname {
	padding-top: 10px;
	font-size: large;
}