.front-content {
	padding: 100px;
}
body {
	background: #FF97B9;
}
.tagline {
	color: #37474F;
	font-size: xx-large;
	padding-top: 20px;
}
.tagline-sm {
	color: #37474F;
	font-size: large;
	padding-top: 20px;
}
.applist {
	padding-top: 20px;
	padding-bottom: 20px
}
.appname {
	padding-top: 10px;
	font-size: large;
}
.muffin {
	max-height: 340px;
}
.apps {
	max-height: 170px
}